* {
    box-sizing: border-box;
    font-family: Papyrus, serif;
    /*background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;*/
}

@media only screen and (max-width: 768px) {
    body {
        background-color: rgba(101, 215, 230, 0.1);
        color: #036803;
    }

    header {
        background-image: url("http://orig04.deviantart.net/de9f/f/2011/065/4/6/46fe5bf0af4a401e49fd43f098ef5237-d3b1f76.jpg");
        background-repeat: no-repeat;
        background-position: center;
        font-family: Papyrus, serif;
        color: #f2f283;
        border: 4px solid black;
    }

    h1 {
        position: relative;
        left: 5%;
        font-size: 7vw;
        margin-top: 0;
        width: 95%;
    }

    h2 {
        position: relative;
        left: 35%;
        margin-top: 15%;
        margin-bottom: 0;
        font-size: 4vw;
        width: 65%;
    }

    .summary {
        background-color: rgba(101, 215, 230, 0.2);
        margin-top: 2%;
        padding: 4%;
        border: 1px solid black;
        box-shadow: -1px -1px 20px 1px #808080;
        border-radius: 5px;
    }

    a:hover {
        color: #8a0101;
    }

    a:active, a:visited, a {
        color: #f55417;
    }

    h3 {
        padding: 5% 10%;
        box-shadow: -1px -1px 20px 1px #808080;
    }

    [role="article"] p {
        padding: 0 5%;
    }

    [role="article"] {
        padding-bottom: 2%;
    }

    .preamble {
        background-color: rgba(45, 47, 96, 0.15);
    }

        .preamble h3 {
            color: #f2f283;
            background-image: url("http://img15.deviantart.net/9ef7/i/2015/122/3/7/zen_feeling_by_forestgirl-d7jj91e.jpg");
            background-position: 0 100%;
            background-size: 100%;
        }

    .explanation {
        background-color: rgba(255, 105, 97, 0.2);
    }

        .explanation h3 {
            color: #f2f283;
            background-image: url("http://img08.deviantart.net/7980/i/2005/135/1/a/red_by_jellings.jpg");
            background-position: 0 80%;
            background-size: 100%;
        }

    .participation {
        background-color: rgba(160, 231, 160, 0.2);
    }

        .participation h3 {
            color: #f2f283;
            background-image: url("http://img09.deviantart.net/6f47/i/2014/245/4/d/together_by_arefin03-d7xpk7r.jpg");
            background-position: 0 60%;
            background-size: 100%;
        }

    .benefits {
        background-color: rgba(242, 242, 131, 0.20);
    }

        .benefits h3 {
            color: #f2f283;
            background-image: url("http://img13.deviantart.net/56dc/i/2011/291/a/3/a_soothing_night_by_marshalbains-d4d7eov.jpg");
            background-position: 0 60%;
            background-size: 100%;
        }

    .requirements {
        background-color: rgba(0, 0, 0, 0.15);
    }

        .requirements h3 {
            color: #f2f283;
            background-image: url("http://orig09.deviantart.net/a13f/f/2007/079/0/0/zen_by_redstonephoto.jpg");
            background-position: 0 95%;
            background-size: 110%;
        }

    footer {
        text-align: center;
    }

    aside {
        background-color: rgba(127, 255, 212, 0.20);
    }

    .wrapper h3 {
        color: black;
        background-image: url("http://orig03.deviantart.net/c257/f/2014/121/7/8/colorful_glass_by_aurorawienhold-d7gqkxq.jpg");
        background-position: 0 92%;
        background-size: 100%;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        padding: 1%;
    }

        li a {
            text-decoration: none;
        }

        li:last-of-type {
            padding-bottom: 0;
        }

        li:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.20);
        }

    .design-archives, .zen-resources, .select {
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    aside {
        outline: 1px solid black;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    header {
        background-size: cover;
    }

    h3 {
        font-size: 4vw;
    }

    footer {
        border-bottom: 1px solid black;
    }

    .design-archives, .zen-resources, .design-selection {
        float: left;
        width: 33%;
    }

    .wrapper h3 {
        outline: 1px solid black;
        margin-bottom: 0;
        height: 100px;
    }
}

@media only screen and (min-width: 769px) {
    p {
        font-weight: bold;
    }

    a {
        color: #a92e00;
        text-decoration: none;
    }

    body {
        /*background-image: url(http://pre15.deviantart.net/71ed/th/pre/i/2009/340/2/d/beach_on_the_edge_of_forever_by_andyserrano.jpg);*/
        background-image: url(http://orig02.deviantart.net/ae21/f/2015/307/3/1/liquid_zen_garden_by_emmmbeee-d9fe3ff.jpg);
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wrapper {
        float: left;
        width: 18%;
        padding-top: 1%;
        position: absolute;
        top: 0;
        background: linear-gradient(141deg, rgba(15, 184, 173, 0.85) 0%, rgba(31, 200, 219, 0.73) 51%, rgba(55, 189, 238, 0.63) 75%);
        border-radius: 5px 25px 0 0;
        font-size: 1.1vw;
        color: #efefef;
        overflow-x: hidden;
    }

        .wrapper ul {
            list-style-type: none;
        }

        .wrapper a {
            text-decoration: none;
            color: black;
        }

        .wrapper h3 {
            padding-left: 10%;
            text-decoration: underline;
        }

    .intro, .main {
        float: right;
        width: 81%;
        padding-right: 10px;
    }

        .main [role], .intro .preamble {
            background-color: rgba(255, 255, 255, 0.60);
            box-shadow: -1px -1px 20px 1px #262626;
            padding: 0 3% 0 3%;
            margin: 5% 0 0 0;
        }

            .main h3, .intro .preamble h3 {
                padding: 1% 0 1% 5%;
                background-color: rgba(0, 255, 255, 0.70);
                width: 40%;
                font-size: 2vw;
                margin: 0;
                transform: translateY(-45%);
            }

            .main p, .intro .preamble p {
                transform: translateY(-45% );
            }

    header {
        padding: 0;
        margin: 0;
        width: 100%;
        background: linear-gradient(141deg, rgba(11, 139, 11, 0.82) 0%, rgba(31, 219, 173, 0.73) 51%, rgba(55, 189, 238, 0.63) 75%);
        box-shadow: 0 0 30px 1px black;
    }

        header h1 {
            padding: 0;
            margin: 0;
            font-size: 6vw;
        }

        header h2 {
            padding: 0;
            margin: 0;
            transform: translateX(10% );
            font-size: 2vw;
            width: 90%;
        }

    .summary {
        text-align: right;
        width: 21%;
        position: absolute;
        top: 3%;
        left: 77%;
        font-size: 1vw;
    }

    footer {
        text-align: center;
        background: linear-gradient(141deg, rgba(15, 184, 173, 0.85) 0%, rgba(31, 200, 219, 0.73) 51%, rgba(55, 189, 238, 0.63) 75%);
        margin-top: 1%;
        word-spacing: 50px;
    }

        footer a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
}